 html, body {
     margin: 0;
     padding: 0;
     background:
     linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 2.75)
    ),
     black
 }

 section {
     align-content: center;
     width: 100%;
     height: auto;
     background-color: rgb(233, 210, 10);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     padding-top: 1.9rem;
     padding-bottom: 0.9rem;
 }

 .box-shadow {
     box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
 }

 .marginTop {
     margin-top: 4.9rem;
 }

 .bg-transparent {
     background-color: rgba(0, 0, 0, .5);
 }

 input[type="text"], .textarea {
     background-color: transparent;
     color: white;
 }

 #quote:focus {
  background: white;
  color: black;
 } 

 
 @media (max-width: 500px) {
  .smallHeader {
    font-size: 22px;
    margin-left: -10px
  }
 }

 @media (max-width: 370px) {
    .smallHeader {
      font-size: 16px;
      margin-left: -10px
    }
   }

 @media (max-width: 767px) {
     .display-sm-4 {
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 36px;
         line-height: 40px;
     }
     .display-sm-1 {
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-style: normal;
         font-weight: 800;
         font-size: 52px;
         line-height: 67px;
         color: #ffffff;
     }

    .block {
      display: block;
      width: 100%;
      font-size: 16px;
      margin-bottom: 6px;
   }
 }

 @media (min-width: 768px) {
     .display-md-4 {
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-style: normal;
         font-weight: 300;
         font-size: 56px;
         line-height: 67px;
     }
     .display-md-1 {
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-style: normal;
         font-weight: 800;
         font-size: 62px;
         line-height: 67px;
         color: #ffffff;
     }
 }

 @media (min-height: 1024px) {
     section {
         height: 72rem;
     }
     .marginTop {
         margin-top: 20rem;
     }
 }